@{
    ViewBag.Title = "Information";
}

<h2>Understanding Mobile Web</h2>


<p>
    This mobile application was created using Asp.Net MVC and Jquery Mobile.  You can find information about these
    technologies using the following links:
    <ul>
        <li>
            <a href="http://www.asp.net/mvc/tutorials/mvc-4/aspnet-mvc-4-mobile-features">MVC with Jquery Mobile</a> 
        </li>
        <li>
            <a href="http://jquerymobile.com/" >Jquery Mobile</a>
        </li>
        <li>
            <a href="http://www.pluralsight.com/training/Courses/TableOfContents/jquery-mobile">Pluralsight Training</a>
        </li>
    </ul>
</p>